<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <script defer src="/socket.io/socket.io.js"></script>
  <script defer src="client.js"></script>
  <style>
      body {
      padding: 0;
      margin: 0;
      background-color:lightblue;
    }
    #room-container {
      padding:10px;
      margin: 0;
      text-align: center;

    }
    #new-room {
      padding: 0;
      text-align: center;
    }
  
    </style>
</head>
<body>
  <h1 style="text-align: center">Chatbot</h1>
  
<div id="new-room">
  <form action="/room" method="POST">
    <input name="room" type="text" required>
    <button type="submit">New Room</button>
  </form>
</div>
<div id="room-container">
  <% Object.keys(rooms).forEach(room => { %>
    <div><%= room %><a href="/<%= room %>">Join</a>
    </div>
  <% }) %>
</div>
</body>
</html>